

var getTags = function(tag){
    return tag == undefined ? [] : tag.split(",")
}
var filter = function (data,value) {
    var a = data.filter(function(item){
    return item.value === value
    })
    return  a.length == 0 || a == undefined ? '' : a[0].label
}
var moneyFormats = function(date) {
    var dates = date.split('-');
    return date == '' || date == undefined ? '' : dates[0] + "-" + dates[1];
}
var moneyFormat = function(date) {
    var dates = date.split('-');
    return date == '' || date == undefined ? '' : dates[0] + "年" + dates[1] + '月';
}
var dateFormat = function(dateTimeStamp) {
    var result;
    var reg = getRegExp("-", "g");
    var a = dateTimeStamp.replace(reg, '/')
    var currentTime = getDate(a).getTime()
    // console.log('计算时间',now)
    var minute = 1000 * 60;
    var hour = minute * 60;
    var day = hour * 24;
    var halfamonth = day * 15;
    var month = day * 30;
    var now = getDate().getTime()
    var diffValue = now - currentTime;
    if(diffValue < 0){
    return;
  }
    var monthC =diffValue/month;
    var weekC =diffValue/(7*day);
    var dayC =diffValue/day;
    var hourC =diffValue/hour;
    var minC =diffValue/minute;
    if(monthC>=1){
    if(monthC<=12)
          result="" + parseInt(monthC) + "月前";
    else{
      result="" + parseInt(monthC/12) + "年前";
    }
    }
    else if(weekC>=1){
        result="" + parseInt(weekC) + "周前";
    }
    else if(dayC>=1){
        result=""+ parseInt(dayC) +"天前";
    }
    else if(hourC>=1){
        result=""+ parseInt(hourC) +"小时前";
    }
    else if(minC>=1){
        result=""+ parseInt(minC) +"分钟前";
    }else{
    result="刚刚";
  }
    return result;
}
module.exports = {
  getTags: getTags,
  filter: filter,
  moneyFormat: moneyFormat,
  moneyFormats:moneyFormats,
  dateFormat: dateFormat,
}